<!-- Footer -->
<footer class="site-footer">

  <div class="container text-center text-md-left py-4">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">{{ site.title | escape }}</h5>
        <p>{{- site.description | escape -}}</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">Navegación</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{ '/attorneys' | relative_url }}">Abogado</a>
          </li>
          <li>
            <a href="{{ '/services' | relative_url }}">Servicios</a>
          </li>
          <li>
            <a href="{{ '/about' | relative_url }}">Nosotros</a>
          </li>
        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">Contacto</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{{ '/contact' | relative_url }}">Contacto</a>
          </li>
          <li>
            <p>{{site.address_1}}</p>
          </li>
        </ul>

      </div>

    </div>

  </div>

  <hr>
  <div class="container footer-copyright py-4">
    <small>© {{ 'now' | date: "%Y" }} Derechos reservados: {{site.title}}. {{site.disclaimer}}</small>
  </div>

</footer>
<!-- Footer -->
